[run]
source = src
omit = 
    */tests/*
    */__pycache__/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    @abstractmethod
    @property
    @price.setter

[html]
directory = htmlcov